---
version: 2
interactions:
    - id: 0
      request:
        host: api.vercel.com
        body: '{"name":"vault-plugin-secrets-vercel-fixtures-token-1688573641201647000"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.vercel.com/v3/user/tokens
        method: POST
      response:
        body: '{"bearerToken":"REDACTED","token":{"activeAt":1688573641976,"createdAt":1688573641976,"id":"d92bf44b70e0a6ff96ac73764f7b973072e181f1365377a63f155ab75bbbeec2","name":"vault-plugin-secrets-vercel-fixtures-token-1688573641201647000","origin":"manual","scopes":[{"createdAt":1688573641976,"origin":"manual","type":"user"}],"type":"token"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "32"
            X-Ratelimit-Remaining:
                - "19"
            X-Ratelimit-Reset:
                - "1688574204"
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sfo1::8ddlz-1688573641955-31483ee57ec3
        status: 200 OK
        code: 200
        duration: 836.402917ms
    - id: 1
      request:
        host: api.vercel.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.vercel.com/v3/user/tokens/d92bf44b70e0a6ff96ac73764f7b973072e181f1365377a63f155ab75bbbeec2
        method: DELETE
      response:
        body: '{"tokenId":"d92bf44b70e0a6ff96ac73764f7b973072e181f1365377a63f155ab75bbbeec2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "50"
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1688573802"
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sfo1::8ddlz-1688573643105-597f8d4d7eaf
        status: 200 OK
        code: 200
        duration: 280.953167ms
