---
version: 2
interactions:
    - id: 0
      request:
        host: api.vercel.com
        body: '{"name":"vault-plugin-secrets-vercel-fixtures-token-team-1689012065721778000"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.vercel.com/v3/user/tokens?teamId=thevilledev-team-1
        method: POST
      response:
        body: '{"bearerToken":"REDACTED","token":{"activeAt":1689012066325,"createdAt":1689012066325,"id":"c2c0ea2e9219955b3e25ababf198a2d3214a2e9bdd2f4b2bcec183f048448116","name":"vault-plugin-secrets-vercel-fixtures-token-team-1689012065721778000","origin":"manual","scopes":[{"createdAt":1689012066325,"origin":"manual","teamId":"team_R7RNcANRyRyuUVnbl05UMHC4","type":"team"}],"teamId":"team_R7RNcANRyRyuUVnbl05UMHC4","type":"token"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "32"
            X-Ratelimit-Remaining:
                - "24"
            X-Ratelimit-Reset:
                - "1689015190"
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sfo1::qn5t8-1689012066302-20a412a2e552
        status: 200 OK
        code: 200
        duration: 700.31725ms
    - id: 1
      request:
        host: api.vercel.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.vercel.com/v3/user/tokens/c2c0ea2e9219955b3e25ababf198a2d3214a2e9bdd2f4b2bcec183f048448116
        method: DELETE
      response:
        body: '{"tokenId":"c2c0ea2e9219955b3e25ababf198a2d3214a2e9bdd2f4b2bcec183f048448116"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "50"
            X-Ratelimit-Remaining:
                - "46"
            X-Ratelimit-Reset:
                - "1689012076"
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sfo1::8jwxb-1689012067254-50d4b76c6190
        status: 200 OK
        code: 200
        duration: 258.309958ms
