---
version: 2
interactions:
    - id: 0
      request:
        host: api.vercel.com
        body: '{"name":"vault-plugin-secrets-vercel-fixtures-token-1688557985495261000"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.vercel.com/v3/user/tokens
        method: POST
      response:
        body: '{"token":{"id":"e69a2ddb9d93b314f67bd8caf205380d6a9d1be66548cc3e841687c502be083d","name":"vault-plugin-secrets-vercel-fixtures-token-1688557985495261000","type":"token","origin":"manual"},"bearerToken":"[REDACTED]"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "32"
            X-Ratelimit-Remaining:
                - "26"
            X-Ratelimit-Reset:
                - "1688559854"
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sfo1::h4mlx-1688557986279-f70b30120caf
        status: 200 OK
        code: 200
        duration: 902.193791ms
    - id: 1
      request:
        host: api.vercel.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.vercel.com/v3/user/tokens/e69a2ddb9d93b314f67bd8caf205380d6a9d1be66548cc3e841687c502be083d
        method: DELETE
      response:
        body: '{"tokenId":"e69a2ddb9d93b314f67bd8caf205380d6a9d1be66548cc3e841687c502be083d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            X-Ratelimit-Limit:
                - "50"
            X-Ratelimit-Remaining:
                - "45"
            X-Ratelimit-Reset:
                - "1688558217"
            X-Vercel-Cache:
                - MISS
            X-Vercel-Id:
                - sfo1::h4mlx-1688557987539-e432e73a1484
        status: 200 OK
        code: 200
        duration: 376.691125ms
